<div class="container">
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Image</th>
                <th class="image-column">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr id="medidoc-translate">
                <td><a href="https://github.com/ihwang125/MediDoc-Translate">MediDoc-Translate</a></td>
                <td>
                    <img src="/assets/images/medidoc.jpg" alt="Translate App Image" />
                </td>
                <td>Built out an open-source, privacy-focused application that helps patients and doctors accurately translate and understand their medical discharge papers and documents in their preferred language.</td>
            </tr>
            <tr id="nerf-model">
                <td><a href="https://cal-cs180.github.io/fa25/hw/proj4/index.html">NeRF Model</a></td>
                <td>
                    <img src="/assets/images/truck.gif" alt="NeRF model" />
                </td>
                <td>Wrote and developed my own implementation of a NeRF model with PyTorch. Based my work off of the original NeRF <a href="https://www.matthewtancik.com/nerf">paper</a>. Trained my NeRF model to render angles to create a GIF of a LEGO truck from novel directions.</td>
            </tr>
            <tr id="risc-v-cpu">
                <td><a href="https://cs61c.org/su24/projects/proj3/">RISC-V CPU</a></td>
                <td>
                    <img src="/assets/images/datapath.png" alt="RISC-V CPU Datapath" />
                </td>
                <td>Designed and implemented a CPU in Logism that runs RISC-V assembly instructions. Implemented two-stage pipelining for faster performance.</td>
            </tr>
            <tr id="digit-classifier">
                <td><a href="https://cs61c.org/su24/projects/proj2/">Handwritten Digit Classifier</a></td>
                <td>
                    <img src="/assets/images/mnist.png" alt="Image from the MNIST Handwritten Digits database" />
                </td>
                <td>Wrote a ML classifier on MNIST digits in RISC-V assembly. Implemented the matrix and vector operations such as ReLU, Argmax, and dot products along with loss functions.</td>
            </tr>
            <tr id="factgrid-cuneiform">
                <td><a href="https://drive.google.com/file/d/1vlQzFKQ6lDvLLq6qpwZd_4Shadr_Uq7i/view">FactGrid Cuneiform Project</a></td>
                <td>
                    <img src="/assets/images/fixed_bounding_boxes.png" alt="FactGrid Cuneiform Project" />
                </td>
                <td>Implemented machine learning model to segment and transcribe dataset of 1,000+ annotated Cuneiform tablets for inference with YOLOv8. Curated dataset of cuneiform tablets and wrote data processing for inference and cataloguing results.</td>
            </tr>
            <tr id="transformer">
                <td><a href="https://github.com/datac182fa24/datac182_hw3_student">Transformer Project</a></td>
                <td>
                    <img src="/assets/images/transformers.png" alt="Transformer Image" />
                </td>
                <td>Designed and trained my own transformer model from the original paper <a href="https://arxiv.org/abs/1706.03762">Attention Is All You Need</a>. Trained my transformer to summarize news articles.</td>
            </tr>
            <tr id="tocharian">
                <td>Tocharian Dataset</td>
                <td>
                    <img src="/assets/images/tocharian.jpg" alt="Tocharian Image" />
                </td>
                <td>Curated dataset of ancient tocharian texts scraped from the online <a href="https://cetom.univie.ac.at/">CEToM</a> database. Created an asynchronous Python script that ran parallelized scraping of Tocharian manuscripts listings and saved in a file. Collaborated with BAIR Research lab in finetuning a LLM model off this Tocharian data.</td>
            </tr>
        </tbody>
    </table>
</div>
