<div class="container">
	<table>
			<thead>
					<tr>
							<th>Name</th>
							<th>What is it?</th>
							<th>Link</th>
					</tr>
			</thead>
			<tbody>
					<tr>
							<td><a href="#medidoc-translate">MediDoc-Translate</a></td>
							<td>Accurate Medical Document Translation</td>
							<td><a href="#medidoc-translate">View</a></td>
					</tr>
					<tr>
							<td><a href="#risc-v-cpu">RISC-V CPU</a></td>
							<td>Designed pipelined RISC-V CPU in Logisim</td>
							<td><a href="#risc-v-cpu">View</a></td>
					</tr>
					<tr>
							<td><a href="#digit-classifier">Handwritten Digit Classifier</a></td>
							<td>ML RISC-V assembly code to classify digits</td>
							<td><a href="#digit-classifier">View</a></td>
					</tr>
          <tr>
							<td><a href="#nerf">NeRF model</a></td>
							<td>ML NeRF model to track 3D scenes from different angles</td>
							<td><a href="#nerf">View</a></td>
					</tr>
					<tr>
							<td><a href="#transformer">Transformer Project</a></td>
							<td>ML Transformer architecture implemented from paper</td>
							<td><a href="#transformer">View</a></td>
					</tr>

					<tr>
							<td><a href="#factgrid-cuneiform">FactGrid Cuneiform Project</a></td>
							<td>ML model to segment and transcribe Cuneiform tablets</td>
							<td><a href="#factgrid-cuneiform">View</a></td>
					</tr>
					<tr>
							<td><a href="#tocharian">Ancient Tocharian Dataset</a></td>
							<td>Curated a dataset of ancient Tocharian scripts with webscraping</td>
							<td><a href="#tocharian">View</a></td>
					</tr>
			</tbody>
	</table>
</div>
