// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: 0.5;
  }
}

// Navbar styles
.nav {
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  line-height: 1.25rem;
  word-spacing: 1rem;

  a {
    color: #787569;
  }
}
